.loginComponent {
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0,0,0,.7);
}

.loginComponent form{
  width: auto;
}

.loginComponent .switch {
  margin-bottom: 20px;
}

.loginComponent h1 {
  font-size: 36px;
  text-align: center;
}
