.loginComponent {
  padding: 20px;
  background-color: darkslategrey;
}

.loginComponent form{
  width: auto;
}

.loginComponent .switch {
  margin-bottom: 20px;
}

.loginComponent h1 {
  font-size: 36px;
  text-align: center;
}
