.wrapper {
  width: 420px;
  padding: 20px;
  background: transparent;
  border: 2px ;
  backdrop-filter: blur(30px);
  background-color: slateblue;
}

.wrapper .switch {
  margin-bottom: 20px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}
