.profileContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
  padding: 30px;
  border-radius: 15px;
}

.editButton {
  align-self: end;
}

.editButton:hover {
  cursor: pointer;
}

.profileContainer .name {
  font-size: xx-large;
  font-weight: 700;
}

.profileContainer .buttonsContainer {
  width: 100%;
}

.profileContainer .position {
  font-size: medium;
  font-weight: 100;
  margin-bottom: 10px;
}

.profileContainer .email {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: large;
}

.profileContainer .phone {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: large;
}

.avatar {
  height: 80px;
  width: 80px;
  background-color: blanchedalmond;
  border-radius: 50%;
  margin-bottom: 10px;
}