.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.content .react-icons {
  color: beige;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
}