.datePickersContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.filterButtonsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 50%;
  align-self: flex-end;
}

.sectionDate {
  font-size: medium;
  margin-bottom: 5px;
}
